#pricing {
  width: 100%;
}

.pricing .box {
  padding: 20px 10px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  background: #fff;
  height: 100%;
  width: 33%;
  border-top: 1px solid #fff;
  border-radius: 15px;
  text-align: center;
  float: left;
  margin: 9px;
}

.pricing h3 {
  font-weight: 600;
  margin-bottom: 24px;
  font-size: 24px;
  color: #000000;
}

.pricing h4 {
  font-size: 42px;
  color: #ef4c25;
  font-weight: 700;
  margin-bottom: 25px;
}
.pricing h4 span {
  color: #47b2e4;
  font-size: 18px;
  display: block;
}
.pricing p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #7c8087;
  font-size: 17px;
  font-weight: 600;
}
.pricing ul {
  padding: 20px 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
