<section class="pricing" id="pricing">


    {% for plans in items %}

      {% if plans.status == '1' %}

              <div class="box">
                <h3>{{ plans.name }}</h3>
                <h4>${{ plans.amount }}</h4>
                {{ plans.description|raw }}
                {% if plans.status %}
                  <a href = "javascript:void(0)"  class="checkout_button" id="{{ plans.site_id }}" data-cb-type = "checkout"  data-cb-item-0 = "{{ plans.id }}" > Get Started </a>
                {% endif %}
              </div>

      {% endif %}
    {% endfor %}


</section>
